.idea/
creds
__pycache__
.venv
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/__pycache__/
.vscode/
logs/
db.sqlite3
.vscode
private_key.pem
public_key.pem
certificateApp/migrations-ori
homeApp/migrations-ori
managementApp/migrations-ori
studentApp/migrations-ori
teacherApp/migrations-ori
financeApp/migrations-ori
chatApp/migrations-ori
full_data.json
