{% extends 'studentApp/index.html' %}
{% load static %}

{% block title %}
    <title>Events</title>
{% endblock %}

{% block body %}
    <div class="ui left aligned basic grid">
        <div class="sixteen wide column">
            <div class="ui pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user">Events</div>
            </div>

            <div class="ui segment">
                <table class="ui celled striped compact table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in events %}
                        <tr>
                            <td>{{ row.title|default:'N/A' }}</td>
                            <td>{{ row.startDate|date:'d-m-Y'|default:'N/A' }}</td>
                            <td>{{ row.endDate|date:'d-m-Y'|default:'N/A' }}</td>
                            <td>{{ row.message|default:'N/A' }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="center aligned">No events available.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
