{% extends 'teacherApp/index.html' %}
{% load static %}

{% block title %}
    <title>Events List</title>
{% endblock %}

{% block css %}
    <style>
        #TeacherEventTable_length {
            left: 20px;
            position: absolute;
        }

        #TeacherEventTable_filter {
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui left aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user">Events List</div>
            </div>
            <div class="ui tab " data-tab="user">
                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">
                        <table class="ui unstackable tiny sortable celled very nowrap very compact table"
                               id="TeacherEventTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th>AddedOn</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        let teacherEventTab;

        teacherEventTab = $('#TeacherEventTable').DataTable({
            dom: 'Blfrtip',
            scrollY: '350px',
            scrollX: true,
            stateSave: true,
            fixedColumns: {
                left: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4]
                }
            }],
            columnDefs: [
                {name: 'title', targets: 0, orderable: true},
                {name: 'startDate', targets: 1, orderable: true},
                {name: 'endDate', targets: 2, orderable: true},
                {name: 'message', targets: 3, orderable: true},
                {name: 'datetime', targets: 4, orderable: true}
            ],
            aaSorting: [[1, 'desc']],
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']],
            pageLength: 10,
            processing: true,
            serverSide: true,
            ajax: "{% url 'teacherAppAPI:TeacherEventListJson' %}"
        });
    </script>
{% endblock %}
