{% extends 'managementApp/index.html' %}
{% load static %}
{% block title %}
    <title>Assign Subjects To Teachers</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #SubjectTable_length {
            left: 20px;
            position: absolute;
        }

        #SubjectTable_filter {
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui left aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Assign Subjects To Teacher
                </div>

            </div>
            <div class="ui tab " data-tab="user">
                <div class="ui segment">
                    <h4 class="ui horizontal left aligned divider header">
                        <i class="left align icon"></i>
                        Assign Teacher
                    </h4>
                    <form class="ui tiny form" id="addForm">{% csrf_token %}
                        <input type="hidden" id="editID">

                        <div class="four fields">

                            <div class="field required">
                                <label>ClassName - Section - Subject</label>
                                <select class="ui clearable search dropdown" id="standard">
                                    <option value="">Search By Class Name or section or subject</option>
                                </select>

                            </div>

                            <div class="field required">
                                <label>Teacher Name</label>
                                <select class="ui fluid search dropdown" id="teachers">
                                    <option value="">Search By Teacher Name</option>
                                </select>

                            </div>
                            <div class="field">
                                <label>Sub Branch Name</label>
                                <input type="text" name="branch" placeholder="Subject Sub Branch" id="branch">


                            </div>


                            <div class="field" style="padding-top: 2.2em;">
                                <button type="button" id="saveBtn" class="ui mini green button saveBtn"
                                        onclick="addData()">
                                    <i class="icon plus square"></i>
                                    Add
                                </button>
                                <button style="display: none" type="button" id="saveBtnUpdate"
                                        onclick="editData()"
                                        class="ui mini orange button saveBtnUpdate">
                                    <i class="icon redo"></i>
                                    Update
                                </button>
                                <button style="display: none" class="ui right labeled icon button green saveBtnLoad">
                                    Saving ...
                                    <i class="checkmark icon"></i>
                                </button>
                                <button class="ui mini red button" type="button" onclick="clearAndReset()">
                                    <i class="icon times circle"></i>
                                    Clear
                                </button>
                            </div>
                        </div>

                    </form>
                </div>


                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table"
                               id="SubjectTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Subject</th>
                                <th>Teacher</th>
                                <th>SubjectBranch</th>
                                <th>EditedBy</th>
                                <th>AddedOn</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="ui basic modal custom" id="deleteDataModal">
                    <div class="ui icon header">
                        <i class="trash alternate icon red"></i>
                        Assigned Details will be Deleted
                    </div>
                    <div class="content">
                        <p style="text-align: center">The Assigned Subject will be deleted, are you sure to delete this
                            entry?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>
                        <input type="hidden" id="dataID">
                        <div class="ui green ok inverted button" onclick="deleteData()">
                            <i class="checkmark icon"></i>
                            Yes
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}




{% block js %}
    <script>

        $(getStandardSubjectList());
        $(getTeacherList());


        function getStandardSubjectList() {

            $.ajax({
                type: 'get',
                url: "{% url 'managementAppAPI:get_subjects_to_class_assign_list_api' %}",

                success: function (response) {

                    $('#standard').html('');
                    $('#standard').append(' <option value="">Search By Class Name or section or subject</option>');
                    var j;
                    for (j = 0; j < response.data.length; j++) {

                        $('#standard').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                    }

                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }

        function getTeacherList() {
            $.ajax({
                type: 'get',
                url: "{% url 'managementAppAPI:get_teacher_list_api' %}",

                success: function (response) {
                    console.log(response)

                    $('#teachers').html('');
                    $('#teachers').append(' <option value="">Search By Teacher Name</option>');
                    var j;
                    for (j = 0; j < response.data.length; j++) {

                        $('#teachers').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                    }

                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }


        let subjectTab

        function addData() {
            showLoading();
            let standard = $('#standard').val();
            let teachers = $('#teachers').val();
            let branch = $('#branch').val();
            if (standard.trim() === '' || teachers.trim() ==='') {
                requiredFieldError();
                hideLoading();
            } else {

                let data = new FormData();
                data.append('standard', standard);
                data.append('teachers', teachers);
                data.append('branch', branch.trim());
                data.append('csrfmiddlewaretoken', $("input[name='csrfmiddlewaretoken']").val());
                $.ajax({
                    type: 'post',
                    url: "{% url 'managementAppAPI:add_subject_to_teacher' %}",
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (response) {
                        if (response.status === 'success') {
                            addSuccessNotification(response.message, response.color);
                            subjectTab.ajax.reload(null, false);
                            clearAndReset();
                            hideLoading();
                        } else {
                            addErrorNotification();
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        addErrorNotification();
                        hideLoading();
                    }
                });


            }
        }


        // user Details

        subjectTab = $('#SubjectTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            stateSave: true,
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3,4,5,6]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "assignedSubjectID.standardID.name", "targets": 0, "orderable": true},
                {"name": "assignedSubjectID.standardID.section", "targets": 1, "orderable": true},
                {"name": "assignedSubjectID.subjectID.name", "targets": 2, "orderable": true},
                {"name": "teacherID.name", "targets": 3, "orderable": true},
                {"name": "subjectBranch", "targets": 4, "orderable": true},
                {"name": "lastEditedBy", "targets": 5, "orderable": true},
                {"name": "datetime", "targets": 6, "orderable": true},
                {"name": "action", "targets": 7, "orderable": false}
            ],
            aaSorting: [[0, 'asc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'managementAppAPI:AssignSubjectToTeacherListJson' %}"
        });


        function delData(id) {
            $('#deleteDataModal')
                .modal('show')
            ;
            $('#dataID').val(id)
        }

        function deleteData() {
            let id = $('#dataID').val();
            let data = new FormData();
            data.append('dataID', id);

            $.ajax({
                url: "{% url 'managementAppAPI:delete_assign_teacher_to_subject' %}",
                type: "post",
                data: data,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.status === 'success') {
                        addSuccessNotification(response.message, response.color);
                        subjectTab.ajax.reload(null, false);
                        $('#deleteDataModal').modal('toggle');
                    } else {
                        addErrorNotification();
                    }
                    return response;
                },
                error: function () {
                    addErrorNotification();
                }
            });

        }

        function GetDataDetails(id) {
            $('#saveBtn').css('display', 'none');
            $('#saveBtnUpdate').css('display', '');
            $.ajax({
                type: 'get',
                data: {id: id},
                url: "{% url 'managementAppAPI:get_assigned_subject_to_teacher_detail' %}",

                success: function (response) {
                    if (response.status === 'success') {
                        $('#standard').val(response.data['StandardID']).change();
                        $('#teachers').val(response.data['teacherID']).change();
                        $('#branch').val(response.data['branch']).change();
                        $('#editID').val(response.data['ID']);
                    } else {
                        addErrorNotification();
                    }


                },
                error: function () {
                    addErrorNotification();
                }
            });

        }


        function editData() {
            showUpdateLoading();
            let standard = $('#standard').val();
            let teachers = $('#teachers').val();
            let branch = $('#branch').val();
            let editID = $('#editID').val();
            if (standard.trim() === '' || teachers.trim() === '') {
                requiredFieldError();
                hideLoading();
            } else {

                let data = new FormData();
                data.append('standard', standard);
                data.append('teachers', teachers);
                data.append('branch', branch.trim());
                data.append('editID', editID);
                data.append('csrfmiddlewaretoken', $("input[name='csrfmiddlewaretoken']").val());
                $.ajax({
                    type: 'post',
                    url: "{% url 'managementAppAPI:update_subject_to_teacher' %}",
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (response) {
                        if (response.status === 'success') {
                            addSuccessNotification(response.message, response.color);
                            subjectTab.ajax.reload(null, false);
                            clearAndReset();
                            hideLoading();
                        } else {
                            addErrorNotification();
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        addErrorNotification();
                        hideLoading();
                    }
                });


            }
        }

        function clearAndReset() {
            {#$('#addForm').trigger('reset');#}
            myOwnReset();
            $('#saveBtn').css('display', '');
            $('#saveBtnUpdate').css('display', 'none');

        }

    </script>

{% endblock %}