{% extends 'managementApp/index.html' %}
{% load static %}
{% block title %}
<title>Mark Details</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<style>
    #SubjectTable_length,
    #byStudentTable_length {
        left: 20px;
        position: absolute;
    }

    #SubjectTable_filter,
    #byStudentTable_filter {
        float: right;
    }

    .dt-buttons {
        position: absolute;
        left: 174px;
    }

    input[type=search] {
        width: 100px !important;
    }
</style>

<div class="ui left aligned basic  grid">
    <div class="sixteen wide column">
        <div class="ui  pointing secondary menu">
            <div style="cursor: pointer;" class="item active" data-tab="user"> Student Marks Details
            </div>

        </div>
        <div class="ui tab active " data-tab="user">

            <div class="ui ">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="dateWise">By Class</a>
                    <a class="item" data-tab="studentWise">By Student</a>
                </div>
                <div class="ui bottom attached  tab segment active" data-tab="dateWise">

                    <div class="ui segment" id="classFormDiv">
                        <form class="ui tiny form" id="addFormByClass">{% csrf_token %}

                            <div class="three fields">
                                <div class="four wide field required">

                                    <label>Class-Section</label>
                                    <select class="ui search dropdown" id="standard" onchange="getExamList()">
                                        >
                                        <option value="">Search By Class Name</option>
                                    </select>
                                </div>
                                <div class="field required">

                                    <label>Exam</label>
                                    <select class="ui search dropdown" id="exam">
                                        <option value="">Search By Exam</option>
                                    </select>
                                </div>
                                <div class="two wide field" style="padding-top: 2.2em;">
                                    <button type="button" class="ui mini green button" onclick="searchData('ByClass')">
                                        <i class="icon search"></i>
                                        Search
                                    </button>

                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="row">
                        <table id="dynamicTable" class="ui unstackable tiny sortable celled very nowrap very compact table" style="width:100%">
                        </table>
                    </div>

                    <div class="row" style="padding-left: 5px; padding-right: 5px;display: none;"
                        id="AttendanceTableDiv">
                        <div class="wide">

                            <table class="ui unstackable tiny sortable celled very nowrap very compact table"
                                id="SubjectTable" style="margin-top: 5px;width: 100%">
                                <thead id="markHead">


                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="ui bottom attached  tab segment" data-tab="studentWise">

                    <div class="ui segment" id="subjectFormDiv">
                        <form class="ui tiny form" id="addForm">{% csrf_token %}

                            <div class="four fields">

                                <div class="four wide field required">

                                    <label>Class-Section</label>
                                    <select class="ui search dropdown" id="standardByStudent"
                                        onchange="getStudentList()">
                                        <option value="">Search By Class Name</option>
                                    </select>
                                </div>
                                <div class="three wide field required">

                                    <label>Student</label>
                                    <select class="ui search dropdown" id="student">
                                    </select>
                                </div>

                                <div class="two wide field" style="padding-top: 2.2em;">
                                    <button type="button" class="ui mini green button"
                                        onclick="searchData('ByStudent')">
                                        <i class="icon search"></i>
                                        Search
                                    </button>

                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="row" style="padding-left: 5px; padding-right: 5px;" id="AttendanceTableDiv">
                        <div class="wide">

                            <table class="ui unstackable tiny sortable celled very nowrap very compact table"
                                id="byStudentTable" style="margin-top: 5px;width: 100%!important;">
                                <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th>Status</th>
                                        <th>PayDate</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}




{% block js %}
<script>


    $(getStandardList());
    function getStandardList() {

        $.ajax({
            type: 'get',
            url: "{% url 'managementAppAPI:get_standard_list_api' %}",

            success: function (response) {

                $('#standard').html('');
                $('#standardByStudent').html('');
                $('#standard').append(' <option value="">Search By Class Name</option>');
                $('#standardByStudent').append(' <option value="">Search By Class Name</option>');
                var j;
                for (j = 0; j < response.data.length; j++) {

                    $('#standard').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');
                    $('#standardByStudent').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                }

            },

            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                    ;
            }
        });


    }

    function getExamList() {

        $.ajax({
            type: 'get',
            url: "{% url 'managementAppAPI:get_exam_list_by_class_api' %}",
            data: {
                'standard': $('#standard').val()
            },

            success: function (response) {

                $('#exam').dropdown('clear');
                $('#exam').html('');
                $('#exam').append(' <option value="">Search By Exam</option>');
                var j;
                for (j = 0; j < response.data.length; j++) {

                    $('#exam').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                }
                getSubjectsList();

            },

            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                    ;
            }
        });


    }

    function getStudentList() {

        $.ajax({
            type: 'get',
            url: "{% url 'managementAppAPI:get_student_list_by_class_api' %}",
            data: {
                'standard': $('#standardByStudent').val()
            },

            success: function (response) {

                $('#student').dropdown('clear');
                $('#student').html('');
                var j;
                for (j = 0; j < response.data.length; j++) {

                    $('#student').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                }

            },

            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                    ;
            }
        });


    }


    let subjectTab
    // let byStudentTab



    function clearAndReset() {
        // {#$('#addForm').trigger('reset');#}
        myOwnReset();
        $('#saveBtn').css('display', '');
        $('#saveBtnUpdate').css('display', 'none');

    }

    function pushAttendance(id) {
        let isPresent = $('#isPresent' + id).prop('checked');
        let reason = $('#reason' + id).val();
        let data = new FormData();
        data.append('id', id);
        data.append('isPresent', isPresent);
        data.append('reason', reason);
        data.append('csrfmiddlewaretoken', $("input[name='csrfmiddlewaretoken']").val());
        $.ajax({
            type: 'post',
            url: "{% url 'managementAppAPI:add_student_attendance_by_class' %}",
            data: data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.status === 'success') {
                    addSuccessNotification(response.message, response.color);
                    // {#subjectTab.ajax.reload(null, false);#}
                } else {
                    addErrorNotification();

                }

                return response;
            },
            error: function () {
                addErrorNotification();
            }
        });


    }

    function getSubjectsList() {

        $.ajax({
            type: 'get',
            url: "{% url 'managementAppAPI:get_subjects_to_class_assign_list_with_given_class_api' %}",
            data: {
                // 'standard': $('#standard').val()
                'standard': 1
            },

            success: function (response) {
                count = 2

                $('#subject').dropdown('clear');
                $('#subject').html('');

                $('#subject').append(' <option value="">Search By Subject</option>');
                var j;
                for (j = 0; j < response.data.length; j++) {

                    $('#subject').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                }

            },

            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                    ;
            }
        });


    }



</script>
<!-- <script>

        function getSubjectsList() {

                $.ajax({
                    type: 'get',
                    url: "{% url 'managementAppAPI:get_subjects_to_class_assign_list_with_given_class_api' %}",
                    data: {
                        // 'standard': $('#standardByStudent').val()
                         'standard': 1
                    },

                    success: function (response) {

                        $('#student').dropdown('clear');
                        $('#student').html('');
                        var j;
                        for (j = 0; j < response.data.length; j++) {

                            $('#student').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                        }

                    },

                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                            ;
                    }
                });


            }
    const data = [
            { "name": "John Doe", "position": "Developer", "office": "New York", "age": 30, "start_date": "2015-01-15", "salary": "$3200" },
            { "name": "Jane Smith", "position": "Designer", "office": "London", "age": 25, "start_date": "2018-03-19", "salary": "$4200" }
            // More data...
        ];

        const columns = [
            { title: "Name", data: "name" },
            { title: "Position", data: "position" },
            { title: "Office", data: "office" },
            { title: "Age", data: "age" },
            { title: "Start date", data: "start_date" },
            { title: "Salary", data: "salary" }
        ];
    $(document).ready(function () {
        // Generate the table header dynamically
        let tableHead = '<thead><tr>';
        columns.forEach(column => {
            tableHead += `<th>${column.title}</th>`;
        });
        tableHead += '</tr></thead>';

        // Append the generated header to the table
        $('#dynamicTable').append(tableHead);

        // Initialize DataTable
        $('#dynamicTable').DataTable({
            data: data,
            columns: columns
        });
    });

</script> -->

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const apiEndpoint = '/management/api/get_subjects_to_class_assign_list_with_given_class_api?standard=1'; // Replace with your API endpoint

        fetch(apiEndpoint)
            .then(response => response.json())
            .then(data => {
                console.log('API Data:', data);
                const apiData = data.data; // Data fetched from the API
                console.log('API Columns Data:', apiData);

                // Base columns
                const columns = [
                    { title: 'Photo', data: 'Photo' },
                    { title: 'Name', data: 'Name' },
                    { title: 'Roll', data: 'Roll' }
                ];

                // Dynamically push column definitions into the columns array
                apiData.forEach(column => {
                    columns.push({ title: column.Name, data: column.Name });
                });

                // Generate the table header dynamically
                let tableHead = '<thead><tr>';
                columns.forEach(column => {
                    tableHead += `<th>${column.title}</th>`;
                });
                tableHead += '</tr></thead>';

                // Append the generated header to the table
                $('#dynamicTable').append(tableHead);

                // Initialize DataTable
                byStudentTab = $('#dynamicTable').DataTable({
                    "columnDefs": [
                        { "name": "photo", "targets": 0, "orderable": true },
                        { "name": "name", "targets": 1, "orderable": true },
                        { "name": "roll", "targets": 2, "orderable": true },
                        { "name": "amount", "targets": 3, "orderable": true },
                        { "name": "note", "targets": 4, "orderable": true },
                    ] ,
                    aaSorting: [[2, 'asc']],
                    lengthMenu: [[100, 125, 150, 200, -1], [100, 125, 150, 200, "All"]],
                    pageLength: 100,
                    processing: true,
                    serverSide: false,
                    ajax: "{% url 'managementAppAPI:StudentMarksDetailsByClassAndExamJson' %}"
                });

                console.log('DataTable initialized:', byStudentTab); // Debugging log
                
            })
            .catch(error => console.error('Error fetching data:', error));
    });
            let byStudentTab; // Declare globally to ensure accessibility


    function searchData(mode) {
        console.log('searchData called with mode:', mode);
        if (mode === 'ByClass') {
            let standard = $('#standard').val();
            let exam = $('#exam').val();
            console.log('Standard:', standard, 'Exam:', exam);
            if (standard === '' || exam === '') {
                requiredFieldError();
                $('#AttendanceTableDiv').css('display', 'none');
            } else {
                $('#AttendanceTableDiv').css('display', 'block');
                    console.log('Updating DataTable URL for ByClass mode');
                    byStudentTab.ajax.url("{% url 'managementAppAPI:StudentMarksDetailsByClassAndExamJson' %}?standard=" + standard + '&exam=' + exam).load();
                
            }
        } else if (mode === 'ByStudent') {
            let standardByStudent = $('#standardByStudent').val();
            let student = $('#student').val();
            console.log('StandardByStudent:', standardByStudent, 'Student:', student);
            if (standardByStudent === '' || student === '') {
                requiredFieldError();
            } else {
                if (byStudentTab) { // Ensure byStudentTab is initialized
                    console.log('Updating DataTable URL for ByStudent mode');
                    byStudentTab.ajax.url("{% url 'managementAppAPI:StudentFeeDetailsByStudentJson' %}?student=" + student + '&standardByStudent=' + standardByStudent).load();
                } else {
                    console.error('DataTable is not initialized.');
                }
            }
        }
    }

    function requiredFieldError() {
        alert("All fields are required!");
    }


</script>


{% endblock %}