{% extends 'managementApp/index.html' %}
{% load static %}
{% block title %}
    <title>Assign Exam To Class</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


        #SubjectTable_length {
            left: 20px;
            position: absolute;
        }

        #SubjectTable_filter {
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui left aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Assign Exam To Class
                </div>

            </div>
            <div class="ui tab " data-tab="user">
                <div class="ui segment">
                    <h4 class="ui horizontal left aligned divider header">
                        <i class="left align icon"></i>
                        Assign Class
                    </h4>
                    <form class="ui tiny form" id="addForm">{% csrf_token %}
                        <input type="hidden" id="editID">

                        <div class="four fields">

                            <div class="three wide field required">
                                <label>Exam Name</label>
                                <select class="ui clearable search dropdown" id="exam">
                                    <option value="">Search By Exam Name</option>
                                </select>

                            </div>

                            <div class="seven wide field required">
                                <label>Class - Section</label>
                                <select class="ui fluid search dropdown" multiple="" id="standard">
                                    <option value="">Search By Class Name</option>
                                </select>

                            </div>
                            <div class="three wide field">
                                <label>Full Mark</label>
                                <input type="number" name="fmark" placeholder="Full Mark" id="fmark">


                            </div>
                            <div class="three wide field">
                                <label>Pass Mark</label>
                                <input type="number" name="pmark" placeholder="Pass Mark" id="pmark">


                            </div>


                        </div>
                        <div class="three fields">
                            <div class="field">
                                <label>Start Date</label>
                                <div class="ui calendar" id="startDate">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Exam Start Date" id="sDate">
                                    </div>
                                </div>

                            </div>
                            <div class="field">
                                <label>End Date</label>
                                <div class="ui calendar" id="endDate">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Exam End Date" id="eDate">
                                    </div>
                                </div>
                            </div>
                            <div class="field" style="padding-top: 2.2em;">
                                <button type="button" id="saveBtn" class="ui mini green button saveBtn"
                                        onclick="addData()">
                                    <i class="icon plus square"></i>
                                    Add
                                </button>
                                <button style="display: none" type="button" id="saveBtnUpdate"
                                        onclick="editData()"
                                        class="ui mini orange button saveBtnUpdate">
                                    <i class="icon redo"></i>
                                    Update
                                </button>
                                <button style="display: none" class="ui right labeled icon button green saveBtnLoad">
                                    Saving ...
                                    <i class="checkmark icon"></i>
                                </button>
                                <button class="ui mini red button" type="button" onclick="clearAndReset()">
                                    <i class="icon times circle"></i>
                                    Clear
                                </button>
                            </div>
                        </div>

                    </form>
                </div>


                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table"
                               id="SubjectTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Exam</th>
                                <th>FullMarks</th>
                                <th>PassMarks</th>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>EditedBy</th>
                                <th>AddedOn</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="ui basic modal custom" id="deleteDataModal">
                    <div class="ui icon header">
                        <i class="trash alternate icon red"></i>
                        Assigned Details will be Deleted
                    </div>
                    <div class="content">
                        <p style="text-align: center">The Assigned Subject will be deleted, are you sure to delete this
                            entry?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>
                        <input type="hidden" id="dataID">
                        <div class="ui green ok inverted button" onclick="deleteData()">
                            <i class="checkmark icon"></i>
                            Yes
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}




{% block js %}
    <script>
        let today = new Date();
        $('#startDate')
            .calendar({
                    {#initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),#}
                    {#initialDate: {{ obj.collectionDateTime|date:'d' }} + '/' + {{ obj.collectionDateTime|date:'m' }} + '/' + {{ obj.collectionDateTime|date:'Y' }},#}
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {

                            if (!date) return '';
                            var day = String(date.getDate());
                            var month = String(date.getMonth() + 1);
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    }
                }
            );


        $('#endDate')
            .calendar({
                    {#initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),#}
                    {#initialDate: {{ obj.collectionDateTime|date:'d' }} + '/' + {{ obj.collectionDateTime|date:'m' }} + '/' + {{ obj.collectionDateTime|date:'Y' }},#}
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {

                            if (!date) return '';
                            var day = String(date.getDate());
                            var month = String(date.getMonth() + 1);
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    }
                }
            );


        $(getStandardList());
        $(getExamList());


        function getStandardList() {

            $.ajax({
                type: 'get',
                url: "{% url 'managementAppAPI:get_standard_list_api' %}",

                success: function (response) {

                    $('#standard').html('');
                    $('#standard').append(' <option value="">Search By Class Name</option>');
                    var j;
                    for (j = 0; j < response.data.length; j++) {

                        $('#standard').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                    }

                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }

        function getExamList() {
            $.ajax({
                type: 'get',
                url: "{% url 'managementAppAPI:get_exams_list_api' %}",

                success: function (response) {

                    $('#exam').html('');
                    $('#exam').append(' <option value="">Search By Exam Name</option>');
                    var j;
                    for (j = 0; j < response.data.length; j++) {

                        $('#exam').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                    }

                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }


        let subjectTab

        function addData() {
            showLoading();
            let standard = $('#standard').val();
            let exam = $('#exam').val();
            let fmark = $('#fmark').val();
            let pmark = $('#pmark').val();
            let sDate = $('#sDate').val();
            let eDate = $('#eDate').val();
            if (exam.trim() === '' ||fmark.trim() === '' ||pmark.trim() === '' ||sDate.trim() === '' ||eDate.trim() === '' || standard.length <= 0) {
                requiredFieldError();
                hideLoading();
            } else {

                let data = new FormData();
                data.append('standard', standard);
                data.append('exam', exam);
                data.append('fmark', fmark.trim());
                data.append('pmark', pmark.trim());
                data.append('eDate', eDate.trim());
                data.append('sDate', sDate.trim());
                data.append('csrfmiddlewaretoken', $("input[name='csrfmiddlewaretoken']").val());
                $.ajax({
                    type: 'post',
                    url: "{% url 'managementAppAPI:add_exam_to_class' %}",
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (response) {
                        if (response.status === 'success') {
                            addSuccessNotification(response.message, response.color);
                            subjectTab.ajax.reload(null, false);
                            clearAndReset();
                            hideLoading();
                        } else {
                            addErrorNotification();
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        addErrorNotification();
                        hideLoading();
                    }
                });


            }
        }


        // user Details

        subjectTab = $('#SubjectTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            stateSave: true,
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5, 6,7,8]
                }
            }
                {% comment %}      , {
                          extend: 'print',
                          exportOptions: {
                               columns: [1, 2, 3, 4, 5, 6, 7, 8]
                          }
                      }{% endcomment %}
            ],
            "columnDefs": [
                {"name": "standardID.name", "targets": 0, "orderable": true},
                {"name": "standardID.section", "targets": 1, "orderable": true},
                {"name": "examID.name", "targets": 2, "orderable": true},
                {"name": "fullMarks", "targets": 3, "orderable": true},
                {"name": "passMarks", "targets": 4, "orderable": true},
                {"name": "startDate", "targets": 5, "orderable": true},
                {"name": "endDate", "targets": 6, "orderable": true},
                {"name": "lastEditedBy", "targets": 7, "orderable": true},
                {"name": "datetime", "targets": 8, "orderable": true},
                {"name": "action", "targets": 9, "orderable": false}
            ],
            aaSorting: [[0, 'asc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'managementAppAPI:AssignExamToClassListJson' %}"
        });


        function delData(id) {
            $('#deleteDataModal')
                .modal('show')
            ;
            $('#dataID').val(id)
        }

        function deleteData() {
            let id = $('#dataID').val();
            let data = new FormData();
            data.append('dataID', id);

            $.ajax({
                url: "{% url 'managementAppAPI:delete_assign_exam_to_class' %}",
                type: "post",
                data: data,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.status === 'success') {
                        addSuccessNotification(response.message, response.color);
                        subjectTab.ajax.reload(null, false);
                        $('#deleteDataModal').modal('toggle');
                    } else {
                        addErrorNotification();
                    }
                    return response;
                },
                error: function () {
                    addErrorNotification();
                }
            });

        }

        function GetDataDetails(id) {
            myOwnReset();
            $('#saveBtn').css('display', 'none');
            $('#saveBtnUpdate').css('display', '');
            $.ajax({
                type: 'get',
                data: {id: id},
                url: "{% url 'managementAppAPI:get_assigned_exam_to_class_detail' %}",

                success: function (response) {
                    if (response.status === 'success') {
                        $('#standard').val(response.data['StandardID']).change();
                        $('#exam').val(response.data['ExamID']).change();
                        $('#fmark').val(response.data['FullMarks']);
                        $('#pmark').val(response.data['PassMarks']);
                        $('#sDate').val(response.data['StartDate']);
                        $('#eDate').val(response.data['EndDate']);
                        $('#editID').val(response.data['ID']);
                    } else {
                        addErrorNotification();
                    }


                },
                error: function () {
                    addErrorNotification();
                }
            });

        }


        function editData() {
            showUpdateLoading();
            let standard = $('#standard').val();
            let exam = $('#exam').val();
            let fmark = $('#fmark').val();
            let pmark = $('#pmark').val();
            let sDate = $('#sDate').val();
            let eDate = $('#eDate').val();
            let editID = $('#editID').val();
            if (standard === '' ||fmark.trim() === '' ||pmark.trim() === '' ||sDate.trim() === '' ||eDate.trim() === '' || exam.length <= 0) {
                requiredFieldError();
                hideLoading();
            } else {

                let data = new FormData();
                data.append('standard', standard);
                data.append('exam', exam);
                data.append('fmark', fmark.trim());
                data.append('pmark', pmark.trim());
                data.append('sDate', sDate.trim());
                data.append('eDate', eDate.trim());
                data.append('editID', editID);
                data.append('csrfmiddlewaretoken', $("input[name='csrfmiddlewaretoken']").val());
                $.ajax({
                    type: 'post',
                    url: "{% url 'managementAppAPI:update_exam_to_class' %}",
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (response) {
                        if (response.status === 'success') {
                            addSuccessNotification(response.message, response.color);
                            subjectTab.ajax.reload(null, false);
                            clearAndReset();
                            hideLoading();
                        } else {
                            addErrorNotification();
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        addErrorNotification();
                        hideLoading();
                    }
                });


            }
        }

        function clearAndReset() {
            {#$('#addForm').trigger('reset');#}
            myOwnReset();
            $('#saveBtn').css('display', '');
            $('#saveBtnUpdate').css('display', 'none');

        }

    </script>

{% endblock %}