{% extends 'homeApp/base.html' %}

{% block sidebar %}
	<div class="item">
            <div class="header">General</div>
            <div class="menu">
                <a class="item" href="{% url 'schoolApp:admin_home' %}">
                    <div>
                        <i class="tachometer alternate icon"></i>
                        Dashboard
                    </div>
                </a>
            </div>
        </div>

        <div class="item">
            <div class="header">
                Classes
            </div>
            <div class="menu">
                <a class="item" href="{% url 'schoolApp:manage_class' %}">
                    <div><i class="chalkboard icon"></i>Manage Class</div>
                </a>

            </div>
        </div>
                <div class="item">
            <div class="header">
                Collections
            </div>
            <div class="menu">
                <a class="item" href="#">
                    <div><i class="hand holding usd icon"></i>Take Collection</div>
                </a>
                <a class="item" href="#">
                    <div><i class="book icon"></i>Collection List</div>
                </a> <a class="item" href="#">
                    <div><i class="bell icon"></i>Cheque Reminder List</div>
                </a>

            </div>
        </div>


{% endblock %}