{% extends 'managementApp/index.html' %}
{% load static %}
{% block title %}
    <title>Edit Student</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <div class="ui basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Edit Student
                </div>
                {% comment %} <div style=" position: absolute;right: 1.5rem;top: 18px;">
                    <button class="ui green mini plus button right" onclick="showClassModal()">
                        <i class="plus square outline icon"></i>
                        Add Class
                    </button>
                </div>{% endcomment %}
            </div>
            <div class="ui tab " data-tab="user">
                <form class="ui form segment tiny" id="addForm" enctype="multipart/form-data"> {% csrf_token %}
                    <h4 class="ui dividing header">Import Student</h4>
                    <div class="three fields">
                        <div class="field required">
                            <label>Registration ID</label> <span class="ui medium text green">Use registration code to import student from past session.</span>
                            <input type="text" name="registration" id="registration" placeholder="Registration Code">
                        </div>
                        <div class="field" style="padding-top: 3.2rem">
                            {% comment %} <button type="button" class="ui mini green button"
                                    onclick="addData()">
                                <i class="search icon"></i>
                                Search
                            </button> {% endcomment %}
                            <button class="ui mini red button" type="button" onclick="clearEditStudentForm()">
                                <i class="icon times circle"></i>
                                Clear
                            </button>
                        </div>
                    </div>


                    <h4 class="ui dividing header">Photo</h4>
                    <div class="field required">

                        <label>Photo</label>

                        <div class="ui" style="width: 100%; text-align: center">
                            <div class="ui icon header">
                                <div class="inline ">

                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" name="photo"
                                                   accept=".png, .jpg, .jpeg"/>
                                            <label for="imageUpload"><i class="edit icon"
                                                                        style="font-size: 1rem;padding: 0.4rem"></i>
                                            </label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="cImg"
                                            style="background-image: url({% if instance.photo %}{{ instance.photo.url }}{% else %}{% static 'images/add_photo.svg' %}{% endif %});">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>


                    <h4 class="ui dividing header">Personal Details</h4>

                    <div class="three fields">
                        <div class="field required">
                            <label>Name</label>
                            <div class="ui input">
                                <input type="text" name="name" id="name" placeholder="Name" value="{{instance.name}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <div class="ui input">
                                <input type="text" name="email" id="email" placeholder="Email" value="{{instance.email}}">
                            </div>
                        </div>
                        <div class="field required">
                            <label>Phone Number</label>
                            <div class="ui input">
                                <input type="number" name="phone" id="phone" placeholder="Phone Number" value="{{instance.phoneNumber}}">
                            </div>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field required">
                            <label>Blood Group</label>
                            <select class="ui dropdown" id="bloodGroup">
                                <option value="">Select Blood Group</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>

                        </div>
                        <div class="field required">
                            <label>Gender</label>
                            <select class="ui dropdown" id="gender">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>

                        </div>
                        <div class="field required">
                            <label>DOB</label>
                            <div class="ui calendar" id="dobCal">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date of birth" id="dob" value={{instance.dob}}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field required">
                            <label>Aadhar Number</label>
                            <div class="ui input">
                                <input type="number" name="aadhar" id="aadhar" placeholder="Aadhar Number" value="{{instance.aadhar}}">
                            </div>
                        </div>
                        <div class="field ">
                            <label>Identity Mark</label>
                            <div class="ui input">
                                <input type="text" name="idMark" id="idMark" placeholder="Identity Mark" value="{{instance.idMark}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>PEN Number</label>
                            <div class="ui input">
                                <input type="text" name="penNumber" id="penNumber" placeholder="PEN Number" value="{{instance.penNumber}}">
                            </div>
                        </div>
                        

                    </div>

                   <h4 class="ui dividing header">Social Details</h4>
                        <div class="three fields">
                            <div class="field required">
                            <label>Caste</label>
                               <select class="ui dropdown" id="caste">
                                <option value="">Select Caste</option>
                                <option value="ST">ST</option>
                                <option value="SC">SC</option>
                                <option value="GEN">GEN</option>
                                <option value="OBC">OBC</option>
                                <option value="OTH">OTH</option>

                            </select>
                        </div>
                        <div class="field ">
                            <label>Tribe</label>
                            <div class="ui input">
                                <input type="text" name="tribe" id="tribe" placeholder="Tribe" value="{{instance.tribe}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Religion</label>
                            <div class="ui input">
                                <input type="text" name="religion" id="religion" placeholder="Religion" value="{{instance.religion}}">
                            </div>
                        </div>
                            
                        </div>




                    <h4 class="ui dividing header">Family Details</h4>
                    <div class="three fields">
                        <div class="field required">
                               <label>Family Type</label>
                               <select class="ui dropdown" id="familyType">
                                <option value="">Select Family Type</option>
                                <option value="Single Parent">Single Parent</option>
                                <option value="Nuclear Family">Nuclear Family</option>
                                <option value="Joint Family">Joint Family</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Number of Members</label>
                            <div class="ui input">
                                <input type="number" name="numberOfMembers" id="numberOfMembers" placeholder="Number of Members" value="{{instance.parentID.totalFamilyMembers}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Family Annual Income</label>
                            <div class="ui input">
                                <input type="number" name="familyAnnualIncome" id="familyAnnualIncome" placeholder="Family Annual Income" value="{{instance.parentID.annualIncome}}">
                            </div>
                        </div>
                    </div>

                    <div class="three fields">
                        <div class="field required">
                            <label>Father Name</label>
                            <div class="ui input">
                                <input type="text" name="fname" id="fname" placeholder="Father Name" value="{{instance.parentID.fatherName}}">
                            </div>
                        </div>
                        <div class="field required">
                            <label>Father Occupation</label>
                            <div class="ui input">
                                <input type="text" name="FatherOccupation" id="FatherOccupation" placeholder="Father Occupation" value="{{instance.parentID.fatherOccupation}}">
                            </div>
                        </div>
                        <div class="field required">
                            <label>Father Contact Number</label>
                            <div class="ui input">
                                <input type="number" name="fatherContactNumber" id="fatherContactNumber" placeholder="Father Contact Number" value="{{ instance.parentID.fatherPhone}}">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Father Address</label>
                            <div class="ui input">
                                <input type="text" name="FatherAddress" id="FatherAddress" placeholder="Father Address" value="{{instance.parentID.fatherAddress}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Father Email</label>
                            <div class="ui input">
                                <input type="text" name="FatherEmail" id="FatherEmail" placeholder="Father Email" value="{{instance.parentID.fatherEmail}}">
                            </div>
                        </div>
                    </div>

                    <div class="three fields">
                        <div class="field">
                            <label>Mother Name</label>
                            <div class="ui input">
                                <input type="text" name="mname" id="mname" placeholder="Mother  Name" value="{{instance.parentID.motherName}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Mother Occupation</label>
                            <div class="ui input">
                                <input type="text" name="MotherOccupation" id="MotherOccupation" placeholder="Mother Occupation" value="{{instance.parentID.motherOccupation}}">
                            </div>
                        </div>
                        <div class="field required">
                            <label>Mother Contact Number</label>
                            <div class="ui input">
                                <input type="number" name="MotherContactNumber" id="MotherContactNumber" placeholder="Mother Contact Number" value="{{instance.parentID.motherPhone}}">
                            </div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>Mother Address</label>
                            <div class="ui input">
                                <input type="text" name="MotherAddress" id="MotherAddress" placeholder="Mother Address" value="{{instance.parentID.motherAddress}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Mother Email</label>
                            <div class="ui input">
                                <input type="text" name="MotherEmail" id="MotherEmail" placeholder="Mother Email" value="{{instance.parentID.motherEmail}}">
                            </div>
                        </div>
                    </div>

                    <h4 class="ui dividing header">Guardian Details</h4>
                    <div class="two fields">
                        <div class="field">
                            <label>Guardian Name</label>
                            <div class="ui input">
                                <input type="text" name="guardianName" id="guardianName" placeholder="Guardian Name" value="{{instance.parentID.guardianName}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Guardian Occupation</label>
                            <div class="ui input">
                                <input type="text" name="guardianOccupation" id="guardianOccupation" placeholder="Guardian Occupation" value="{{instance.parentID.guardianOccupation}}">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Guardian PhoneNumber</label>
                            <div class="ui input">
                                <input type="number" name="guardianPhoneNumber" id="guardianPhoneNumber" placeholder="Guardian Phone Number" value="{{instance.parentID.guardianPhone}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Parents PhoneNumber</label>
                            <div class="ui input">
                                <input type="number" name="parentsPhoneNumber" id="parentsPhoneNumber" placeholder="Parents Phone Number" value="{{instance.parentID.phoneNumber}}">
                            </div>
                        </div>
                    </div>
                    <h4 class="ui dividing header">Previous School Details</h4>
                    <div class="two fields">
                        <div class="field">
                            <label>Previous School Name</label>
                            <div class="ui input">
                                <input type="text" name="previousSchoolName" id="previousSchoolName" placeholder="Previous School Name" value="{{instance.lastSchoolName}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Previous School Address</label>
                            <div class="ui input">
                                <input type="text" name="previousSchoolAddress" id="previousSchoolAddress" placeholder="Previous School Address" value="{{instance.lastSchoolAddress}}"         >
                            </div>
                        </div>
                    </div>
                    <div class="four fields">
                        <div class="field">
                            <label>Previous School Class</label>
                            <div class="ui input">
                                <input type="text" name="previousSchoolClass" id="previousSchoolClass" placeholder="Previous School Class" value="{{instance.lastClass}}">
                            </div>
                        </div>
                            <div class="field">
                                <label>Result</label>
                               <select class="ui dropdown" id="previousSchoolResult" value="{{instance.previousSchoolResult}}">
                                <option value="">Select Result</option>
                                <option value="PASS">PASS</option>
                                <option value="FAIL">FAIL</option>
                            </select>
                            </div>
                             <div class="field">
                                <label>Division</label>
                                <div class="ui input">
                                    <input type="text" name="previousSchoolDivision" id="previousSchoolDivision" placeholder="Previous School Division" value="{{instance.lastDivision}}">
                                </div>
                            </div>
                             <div class="field">
                                <label>Roll Number</label>
                                <div class="ui input">
                                    <input type="number" name="previousSchoolRollNumber" id="previousSchoolRollNumber" placeholder="Previous School Roll Number" value="{{instance.lastRollNo}}">
                                </div>
                            </div>
                    </div>

                      <h4 class="ui dividing header">Additional Details</h4>
                    <div class="two fields">
                        <div class="field">
                            <label>Mother Tongue</label>
                            <div class="ui input">
                                <input type="text" name="motherTongue" id="motherTongue" placeholder="Mother Tongue" value="{{instance.motherTongue}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Other Languages</label>
                            <div class="ui input">
                                <input type="text" name="otherLanguages" id="otherLanguages" placeholder="Other Languages" value="{{instance.otherLanguages}}">
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Hobbies</label>
                            <div class="ui input">
                                <input type="text" name="hobbies" id="hobbies" placeholder="Hobbies" value="{{instance.hobbies}}">
                            </div>
                        </div>
                        <div class="field">
                            <label>Aim In Life</label>
                            <div class="ui input">
                                <input type="text" name="aimInLife" id="aimInLife" placeholder="Aim In Life" value="{{instance.aimInLife}}">
                            </div>
                        </div>
                    </div>
                    
                        <div class="field">
                            <label>M.I.L Options in Class IX and X:</label>
                            <div class="ui input">
                                <input type="text" name="milOptions" id="milOptions" placeholder="M.I.L Options" value="{{instance.milOption}}">
                            </div>
                        </div>
                    



                    {% comment %} <h4 class="ui dividing header">Present Address</h4>
                    <div class="field required">
                        <label>Address</label>
                        <textarea name="address" id="address" rows="2" placeholder="Address"></textarea>
                    </div>

                    <div class="fields">
                        <div class="six wide field required">
                            <label>City</label>
                            <input type="text" name="city" id="city" placeholder="City">
                        </div>
                        <div class="four wide field required">
                            <label>State</label>
                            <select class="ui fluid search dropdown" name="state" id="state">
                                <option value="">State</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Assam">Assam</option>
                                <option value="Mizoram">Mizoram</option>
                            </select>
                        </div>

                        <div class="three wide field required">
                            <label>Country</label>
                            <select class="ui fluid search dropdown" name="country" id="country">
                                <option value="">Country</option>
                                <option value="India">India</option>

                            </select>
                        </div>
                        <div class="three wide field required">
                            <label>Pincode</label>
                            <input type="number" name="pincode" id="pincode" maxlength="6" placeholder="Pincode">
                        </div>

                    </div>

                    <h4 class="ui dividing header">Permanent Address</h4>
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui toggle checkbox" onclick="sameAsPresentAddress()">
                                <input type="checkbox" name="sameAs" id="sameAs" tabindex="0" class="hidden">
                                <label>Same as present address</label>
                            </div>
                        </div>
                    </div>
                    <div class="field required">
                        <label>Address</label>
                        <textarea name="addressP" id="addressP" rows="2" placeholder="Address"></textarea>
                    </div>

                    <div class="fields">
                        <div class="six wide field required">
                            <label>City</label>
                            <input type="text" name="cityP" id="cityP" placeholder="City">
                        </div>
                        <div class="four wide field required">
                            <label>State</label>
                            <select class="ui fluid search dropdown" name="stateP" id="stateP">
                                <option value="">State</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Assam">Assam</option>
                                <option value="Mizoram">Mizoram</option>
                            </select>
                        </div>

                        <div class="three wide field required">
                            <label>Country</label>
                            <select class="ui fluid search dropdown" name="countryP" id="countryP">
                                <option value="">Country</option>
                                <option value="India">India</option>

                            </select>
                        </div>
                        <div class="three wide field required">
                            <label>Pincode</label>
                            <input type="number" name="pincodeP" id="pincodeP" maxlength="6" placeholder="Pincode">
                        </div>

                    </div> {% endcomment %}

                    
                    <h4 class="ui dividing header">School Detail</h4>
                    <div class="five fields">
                        <div class="field required">
                            <label>Registration Code</label>
                            <input type="text" name="registrationCode" id="registrationCode" placeholder="Registration Code" value="{{instance.registrationCode}}">
                        </div>
                        <div class="field required">
                            <label>Family Code</label>
                            <input type="text" name="familyCode" id="familyCode" placeholder="Family Code" value="{{instance.familyCode}}">
                        </div>
                        <div class="field required">
                            <label>No. of siblings Attended</label>
                            <input type="number" name="siblings" id="siblings" placeholder="No. of siblings Attended" value="{{instance.siblingsCount}}">
                        </div>
                        <div class="field required">
                            <label>Class - Section</label>
                            <select class="ui clearable search dropdown" id="standard">
                                <option value="">Search By Class Name</option>
                            </select>

                        </div>
                        
                        <div class="field required">
                            <label>Date Of Joining</label>
                            <div class="ui calendar" id="dojCal">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date of joining" id="doj" value="{{instance.dateOfJoining}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five fields">
                        <div class="field">
                            <label>Roll Number</label>
                            <input type="number" name="roll" id="roll" placeholder="Roll Number" value="{{instance.roll}}">
                        </div>
                        <div class="field">
                            <label>Admission Fee</label>
                            <input type="number" name="admissionFee" id="admissionFee" placeholder="Admission Fee" value="{{instance.admissionFee}}">
                        </div>
                        <div class="field">
                            <label>Tuition Fee</label>
                            <input type="number" name="tuitionFee" id="tuitionFee" placeholder="Tuition Fee" value="{{instance.tuitionFee}}">
                        </div>
                         <div class="field">
                            <label>Misc. Fees</label>
                            <input type="number" name="miscFee" id="miscFee" placeholder="Misc. Fees" value="{{instance.miscFee}}">
                        </div>
                        <div class="field">
                            <label>Total</label>
                            <input type="number" name="totalFee" id="totalFee" placeholder="Total Fees" value="{{instance.totalFee}}">
                        </div>
                    </div>
                    <input type="hidden" name="editID" id="editID" value="{{instance.id}}">


                </form>
                <div class="ui segment center aligned">
                    <button type="button" id="saveBtn" class="ui mini green button saveBtn"
                            onclick="addStudentData()">
                        <i class="icon plus square"></i>
                        Update
                    </button>
                    <button style="display: none" type="button" id="saveBtnUpdate"
                            onclick="editData()"
                            class="ui mini orange button saveBtnUpdate">
                        <i class="icon redo"></i>
                        Update
                    </button>
                    <button style="display: none" class="ui right labeled icon button green saveBtnLoad">
                        Saving ...
                        <i class="checkmark icon"></i>
                    </button>
                    <button class="ui mini red button" type="button" onclick="clearEditStudentForm()">
                        <i class="icon times circle"></i>
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        $(document).ready(function () {
            $('#bloodGroup').val('{{instance.bloodGroup}}').change();
            $('#gender').val('{{instance.gender}}').change();
            $('#country').val('{{instance.country}}').change();
            $('#countryP').val('{{instance.countryP}}').change();
            $('#caste').val('{{instance.caste}}').change();
             $('#familyType').val('{{instance.parentID.familyType}}').change();
             $('#previousSchoolResult').val('{{instance.lastResult}}').change();

             


        });

        $(getStandardList());


        function getStandardList() {

            $.ajax({
                type: 'get',
                url: "{% url 'managementAppCachedAPI:get_cached_standard_list_api' %}",

                success: function (response) {

                    $('#standard').html('');
                    $('#standard').append(' <option value="">Search By Class Name</option>');
                    var j;
                    for (j = 0; j < response.data.length; j++) {

                        $('#standard').append('<option value="' + response.data[j]['ID'] + '" >' + response.data[j]['Name'] + '</option>');

                    }
                    
                    // Set the standard value after dropdown is populated
                    $('#standard').val('{{instance.standardID.pk}}').change();

                },

                error: function () {
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                }
            });


        }

        $('.ui.checkbox')
            .checkbox()
        ;
        let today = new Date();
        $('#dobCal')
            .calendar({
                    {#initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),#}
                    {#initialDate: {{ obj.collectionDateTime|date:'d' }} + '/' + {{ obj.collectionDateTime|date:'m' }} + '/' + {{ obj.collectionDateTime|date:'Y' }},#}
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {

                            if (!date) return '';
                            var day = String(date.getDate());
                            var month = String(date.getMonth() + 1);
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    }
                }
            );
        $('#dojCal')
            .calendar({
                    {#initialDate: today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear(),#}
                    {#initialDate: {{ obj.collectionDateTime|date:'d' }} + '/' + {{ obj.collectionDateTime|date:'m' }} + '/' + {{ obj.collectionDateTime|date:'Y' }},#}
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {

                            if (!date) return '';
                            var day = String(date.getDate());
                            var month = String(date.getMonth() + 1);
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    }
                }
            );


        function readURLPhoto(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#cImg').css('background-image', 'url(' + e.target.result + ')');
                    $('#cImg').hide();
                    $('#cImg').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function () {
            readURLPhoto(this);
        });
        function sameAsPresentAddress() {


            let address = $('#address').val();
            let city = $('#city').val();
            let state = $('#state').val();
            let country = $('#country').val();
            let pin = $('#pincode').val();
            $('#addressP').val(address);
            $('#cityP').val(city);
            $('#countryP').val(country).change();
            $('#pincodeP').val(pin);
            $('#stateP').val(state).change();
        }

        function clearEditStudentForm() {
            const $form = $('#addForm');
            if (!$form.length) return;

            $form.find('.field').removeClass('error');
            $form.find('input[type="text"], input[type="number"], input[type="email"], input[type="date"], textarea').val('');
            $form.find('input[type="checkbox"], input[type="radio"]').prop('checked', false);
            $form.find('input[type="file"]').val('');

            $form.find('select').each(function () {
                const $select = $(this);
                if ($select.hasClass('dropdown') || $select.closest('.ui.dropdown').length) {
                    $select.dropdown('clear');
                } else {
                    $select.val('').change();
                }
            });

            $('#editID').val('{{instance.id}}');
            $('#cImg').css('background-image', "url({% static 'images/add_photo.svg' %})");
            hideLoading();
        }

function addStudentData() {
    showLoading();

    let data = new FormData();

    // ---------- COLLECT ALL INPUTS BY ID ----------
    $('#addForm input, #addForm select, #addForm textarea')
        .each(function () {
            const id = $(this).attr('id');

            if (!id) return; // skip elements without id

            // Handle file input
            if (this.type === 'file') {
                if (this.files.length > 0) {
                    data.append(id, this.files[0]);
                }
            }
            // Handle checkbox
            else if (this.type === 'checkbox') {
                data.append(id, $(this).is(':checked'));
            }
            // Handle radio
            else if (this.type === 'radio') {
                if ($(this).is(':checked')) {
                    data.append(id, $(this).val());
                }
            }
            // Normal input/select/textarea
            else {
                data.append(id, $(this).val());
            }
        });

    // ---------- CSRF ----------
    data.append(
        'csrfmiddlewaretoken',
        $("input[name='csrfmiddlewaretoken']").val()
    );

    // ---------- DEBUG ----------
    console.log("Collected Data (by ID):");
    for (let pair of data.entries()) {
        console.log(pair[0]);
    }

    // ---------- BASIC REQUIRED CHECK ----------
    const requiredIds = [
        'name', 'gender',
        'dob', 'registrationCode',
        'standard', 'idMark','caste',
        'religion', 'familyType','fname','FatherOccupation','fatherContactNumber','FatherAddress',
        'mname','MotherOccupation','MotherContactNumber','MotherAddress',
        'standard','doj','admissionFee','tuitionFee','miscFee','totalFee'
    ];

    let hasError = false;
    requiredIds.forEach(id => {
        if (!data.get(id)) {
            console.log(id);
             $(`#${id}`).closest('.field').addClass('error');
            hasError = true;
        }
    });

    if (hasError) {
       requiredFieldError();
       hideLoading();
       return;
    }

    // ---------- AJAX ----------
    $.ajax({
        type: 'POST',
        url: "{% url 'managementAppAPI:edit_student_api' %}",
        data: data,
        contentType: false,
        processData: false,
        cache: false,

        success: function (response) {
            if (response.success) {
                addSuccessNotification(response.message, 'green');
                $('#cImg').css(
                    'background-image',
                    "url({% static 'images/add_photo.svg' %})"
                );
                window.location.href = "{% url 'managementApp:student_list' %}";

            } else {
                addErrorNotification();
            }
            hideLoading();
        },

        error: function () {
            addErrorNotification();
            hideLoading();
        }
    });
}

    </script>

{% endblock %}
