{% extends 'managementApp/index.html' %}
{% load static %}
{% block title %}
    <title>Manage Events</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <style>


       
        #EventTable_length {
            left: 20px;
            position: absolute;
        }

        #EventTable_filter {
            float: right;
        }

        .dt-buttons {
            position: absolute;
            left: 174px;
        }

        input[type=search] {
            width: 100px !important;
        }
    </style>

    <div class="ui left aligned basic  grid">
        <div class="sixteen wide column">
            <div class="ui  pointing secondary menu">
                <div style="cursor: pointer;" class="item active" data-tab="user"
                >Manage Events
                </div>

            </div>
            <div class="ui tab " data-tab="user">
                <div class="ui segment">
                    <h4 class="ui horizontal left aligned divider header">
                        <i class="left align icon"></i>
                        Add/Edit Event
                    </h4>
                    <form class="ui tiny form" id="addForm">{% csrf_token %}
                        <input type="hidden" id="editID">

                        <div class="five fields">

                            <div class="field required" >
                                <label>Event Title</label>
                                <input type="text" name="title" id="title" placeholder="Event Title">

                            </div>
                             <div class="field required">
                            <label>Start Date</label>
                            <div class="ui calendar" id="start_dateCal">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Start Date" id="start_date">
                                </div>
                            </div>
                        </div>
                          <div class="field required">
                            <label>End Date</label>
                            <div class="ui calendar" id="end_dateCal">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="End Date" id="end_date">
                                </div>
                            </div>
                        </div>

                         
                            <div class="field required">
                                <label>Description</label>
                                <input type="text" name="description" id="description" placeholder="Description">

                            </div>


                            <div class="field" style="padding-top: 2em;">
                                <button type="button" id="saveBtn" class="ui mini green button saveBtn"
                                        onclick="addData()">
                                    <i class="icon plus square"></i>
                                    Add
                                </button>
                                <button style="display: none" type="button" id="saveBtnUpdate"
                                        onclick="editData()"
                                        class="ui mini orange button saveBtnUpdate">
                                    <i class="icon redo"></i>
                                    Update
                                </button>
                                <button style="display: none" class="ui right labeled icon button green saveBtnLoad">
                                    Saving ...
                                    <i class="checkmark icon"></i>
                                </button>
                                <button class="ui mini red button" type="button" onclick="clearAndReset()">
                                    <i class="icon times circle"></i>
                                    Clear
                                </button>
                            </div>
                        </div>

                    </form>
                </div>


                <div class="row" style="padding-left: 5px; padding-right: 5px">
                    <div class="wide">

                        <table class="ui unstackable tiny sortable celled very nowrap very compact table"
                               id="EventTable"
                               style="margin-top: 5px;width: 100%">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th>AddedOn</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            
                        </table>
                    </div>

                </div>

                <div class="ui basic modal custom" id="deleteDataModal">
                    <div class="ui icon header">
                        <i class="trash alternate icon red"></i>
                        Event Details will be Deleted
                    </div>
                    <div class="content">
                        <p style="text-align: center">The Event will be deleted, are you sure to delete this
                            entry?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>
                        <input type="hidden" id="dataID">
                        <div class="ui green ok inverted button" onclick="deleteData()">
                            <i class="checkmark icon"></i>
                            Yes
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}




{% block js %}
    <script>

let today = new Date();
        $('#start_dateCal')
            .calendar({
                    monthFirst: false,
                    type: 'date',
                    formatter: {
                        date: function (date, settings) {

                            if (!date) return '';
                            var day = String(date.getDate());
                            var month = String(date.getMonth() + 1);
                            var year = date.getFullYear();
                            return day + '/' + month + '/' + year;
                        }
                    }
                }
            );

        $('#end_dateCal').calendar({
            monthFirst: false,
            type: 'date',
            formatter: {
                date: function (date, settings) {

                    if (!date) return '';
                    var day = String(date.getDate());
                    var month = String(date.getMonth() + 1);
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        });

        function addData() {
    showLoading();

    let data = new FormData();

    // ---------- COLLECT ALL INPUTS BY ID ----------
    $('#addForm input, #addForm select, #addForm textarea')
        .each(function () {
            const id = $(this).attr('id');

            if (!id) return; // skip elements without id

            // Handle file input
            if (this.type === 'file') {
                if (this.files.length > 0) {
                    data.append(id, this.files[0]);
                }
            }
            // Handle checkbox
            else if (this.type === 'checkbox') {
                data.append(id, $(this).is(':checked'));
            }
            // Handle radio
            else if (this.type === 'radio') {
                if ($(this).is(':checked')) {
                    data.append(id, $(this).val());
                }
            }
            // Normal input/select/textarea
            else {
                data.append(id, $(this).val());
            }
        });

    // ---------- CSRF ----------
    data.append(
        'csrfmiddlewaretoken',
        $("input[name='csrfmiddlewaretoken']").val()
    );

    // ---------- DEBUG ----------
    console.log("Collected Data (by ID):");
    for (let pair of data.entries()) {
        console.log(pair[0]);
    }

    // ---------- BASIC REQUIRED CHECK ----------
    const requiredIds = [
        'title', 'start_date',
        'end_date', 'description',
    ];

    let hasError = false;
    requiredIds.forEach(id => {
        if (!data.get(id)) {
            console.log(id);
             $(`#${id}`).closest('.field').addClass('error');
            hasError = true;
        }
    });

    if (hasError) {
       requiredFieldError();
       hideLoading();
       return;
    }

    // ---------- AJAX ----------
    $.ajax({
        type: 'POST',
        url: "{% url 'managementAppAPI:add_event_api' %}",
        data: data,
        contentType: false,
        processData: false,
        cache: false,

        success: function (response) {
            debugger;
            if (response.success) {
                addSuccessNotification(response.message, 'green');
                $('#addForm').trigger('reset');
                eventTab.ajax.reload(null, false);
            } else {
                addErrorNotification(response.message);
            }
            hideLoading();
        },

        error: function () {
            addErrorNotification('An error occurred !');
            hideLoading();
        }
    });
}


        // user Details

      let eventTab
        // user Details

        eventTab = $('#EventTable').DataTable({
            dom: 'Blfrtip',
            "scrollY": "350px",
            "scrollX": true,
            stateSave: true,
            fixedColumns: {
                left: 1,
                right: 1
            },
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: [1, 2, 3, 4, 5, 6, 7,8,9]
                }
            }
            ],
            "columnDefs": [
                {"name": "title", "targets": 0, "orderable": true},
                {"name": "startDate", "targets": 1, "orderable": true},
                {"name": "endDate", "targets": 2, "orderable": true},
                {"name": "message", "targets": 3, "orderable": true},
                {"name": "datetime", "targets": 4, "orderable": true},
                {"name": "action", "targets": 5, "orderable": false}
            ],
            aaSorting: [[1, 'asc']],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'managementAppAPI:EventListJson' %}"
        });



        function delData(id) {
            $('#deleteDataModal')
                .modal('show')
            ;
            $('#dataID').val(id)
        }

        function deleteData() {
            let id = $('#dataID').val();
            let data = new FormData();
            data.append('dataID', id);

            $.ajax({
                url: "{% url 'managementAppAPI:delete_event' %}",
                type: "post",
                data: data,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.success) {
                        addSuccessNotification(response.message, 'green');
                        eventTab.ajax.reload(null, false);
                        $('#deleteDataModal').modal('toggle');
                    } else {
                        addErrorNotification();
                    }
                    return response;
                },
                error: function () {
                    addErrorNotification();
                }
            });

        }

         function GetDataDetails(id) {
            $('#saveBtn').css('display', 'none');
            $('#saveBtnUpdate').css('display', '');
            $.ajax({
                type: 'get',
                 data: {id: id},
                url: "{% url 'managementAppAPI:get_event_detail' %}",

                success: function (response) {
                    if (response.success) {
                        $('#title').val(response.data['title']);
                        $('#start_date').val(response.data['startDate']);
                        $('#end_date').val(response.data['endDate']);
                        $('#description').val(response.data['message']);
                        $('#editID').val(response.data['ID']);
                    }
                    else{
                        addErrorNotification();
                    }


                },
                error: function () {
                     addErrorNotification();
                }
            });

        }



         function clearAndReset() {
            // {#$('#addForm').trigger('reset');#}
             myOwnReset();
            $('#saveBtn').css('display', '');
            $('#saveBtnUpdate').css('display', 'none');

        }

        function editData() {
    showLoading();

    let data = new FormData();

    // ---------- COLLECT ALL INPUTS BY ID ----------
    $('#addForm input, #addForm select, #addForm textarea')
        .each(function () {
            const id = $(this).attr('id');

            if (!id) return; // skip elements without id

            // Handle file input
            if (this.type === 'file') {
                if (this.files.length > 0) {
                    data.append(id, this.files[0]);
                }
            }
            // Handle checkbox
            else if (this.type === 'checkbox') {
                data.append(id, $(this).is(':checked'));
            }
            // Handle radio
            else if (this.type === 'radio') {
                if ($(this).is(':checked')) {
                    data.append(id, $(this).val());
                }
            }
            // Normal input/select/textarea
            else {
                data.append(id, $(this).val());
            }
        });

    // ---------- CSRF ----------
    data.append(
        'csrfmiddlewaretoken',
        $("input[name='csrfmiddlewaretoken']").val()
    );

    // ---------- BASIC REQUIRED CHECK ----------
    const requiredIds = [
        'title', 'start_date',
        'end_date', 'description',
    ];

    let hasError = false;
    requiredIds.forEach(id => {
        if (!data.get(id)) {
            console.log(id);
             $(`#${id}`).closest('.field').addClass('error');
            hasError = true;
        }
    });

    if (hasError) {
       requiredFieldError();
       hideLoading(true);
       return;
    }

    // ---------- AJAX ----------
    $.ajax({
        type: 'POST',
        url: "{% url 'managementAppAPI:update_event_api' %}",
        data: data,
        contentType: false,
        processData: false,
        cache: false,

        success: function (response) {
            if (response.success) {
                addSuccessNotification(response.message, 'green');
                $('#addForm').trigger('reset');
                eventTab.ajax.reload(null, false);
            } else {
                addErrorNotification(response.message);
            }
            hideLoading();
        },

        error: function () {
            addErrorNotification('An error occurred !');
            hideLoading();
        }
    });
}

    </script>

{% endblock %}
